<!-- This is /budgets -->
<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="public\normalize.css">
    <link rel="stylesheet" href="public\skeleton.css">
    <body>
        <div class="container">
        <h1>Budgtr ALL</h1>
        <% for(let i = 0; i < allBudgets.length; i++) { %>
         <table>
<tr>
<td><%=allBudgets[i].date %></td>

<td><a href="/budgets/<%=allBudgets[i].name %>"><%=allBudgets[i].name %></a></td>

<td><%=allBudgets[i].amount %></td>

                <% } %>
</tr>
        </table>
        </div>
    </head>
    </body>
</html>